body
{
  color: white;
  background-color: black;
  margin: 0px;
  padding: 0px;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 120%;
}

canvas#gridView
{
  position: fixed;
  margin: 10px;
  top: 50px;
}

div#videoPanel
{
  position: fixed;
  right: 0px;
  top:50px;
  padding: 10px;
}

div#searchPnl
{
  position: fixed;
  left: 0px;
  top:0px;
  margin: 0px;
  padding: 10px;
  width: 600px;
}

input#search
{
  padding: 6px;
  width: 100%;
  font-size: 1em;
}

div#infoPanel
{
  position: fixed;
  right: 0px;
  padding: 10px;
  top: 330px;
  width: 450px;
}

div#infoPanel ul,
div#infoPanel li
{
  display: block;
  margin: 0px;
  padding: 0px;
}

div#infoPanel li
{
  font-size: 1em;
  list-style: none;
}

.ui-front
{
  overflow: scroll;
  max-height: 400px;
}
